
<form action = "/name" method = "post"> 
  <label for="p1name">Player one:</label><br>
  <input type="text" id="p1name" name="p1name"><br>
  <label for="p2name">Player two:</label><br>
  <input type="text" id="p2name" name="p2name">
  <input type="submit" value="Submit">
</form>